test-workflow.json
{
  "name": "FAIM Forecast - Local Test",
  "nodes": [
    {
      "parameters": {},
      "id": "uuid-start-node",
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsonData": "{\n  \"timeSeries\": [10, 12, 14, 13, 15, 17, 16, 18, 20, 19, 21, 22]\n}"
      },
      "id": "uuid-set-node",
      "name": "Set Test Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [450, 300]
    },
    {
      "parameters": {
        "model": "chronos2",
        "modelVersion": "1",
        "inputData": "={{ $json.timeSeries }}",
        "horizon": 7,
        "outputType": "point"
      },
      "id": "uuid-faim-node",
      "name": "FAIM Forecast",
      "type": "@faim-group/n8n-nodes-faim.faimForecast",
      "typeVersion": 1,
      "position": [650, 300],
      "credentials": {
        "faimApi": "FAIM_API_CREDENTIALS"
      }
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Set Test Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Test Data": {
      "main": [
        [
          {
            "node": "FAIM Forecast",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1d1c4fcf-2a2a-4a2a-8a8a-1d1c4fcf2a2a",
  "meta": {
    "instanceId": "test"
  },
  "pinData": {}
}