examples/batch-processing-multiple-series.json
{
  "name": "Batch Processing - Multiple Time Series",
  "nodes": [
    {
      "parameters": {},
      "id": "1",
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [50, 100]
    },
    {
      "parameters": {
        "jsonData": "{\n  \"multipleSeries\": [\n    [100, 101, 102, 103, 104, 105],\n    [200, 202, 204, 206, 208, 210],\n    [50, 51, 50, 51, 52, 51]\n  ]\n}"
      },
      "id": "2",
      "name": "3 Time Series (Batch)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [200, 100]
    },
    {
      "parameters": {
        "model": "tirex",
        "modelVersion": "1",
        "inputData": "={{ $json.multipleSeries }}",

        "horizon": 3,
        "outputType": "point",
        "authentication": "faimApi"
      },
      "id": "3",
      "name": "FAIM Batch Forecast",
      "type": "@faim-group/n8n-nodes-faim.faimForecast",
      "typeVersion": 1,
      "position": [400, 100],
      "credentials": {
        "faimApi": {
          "id": "faim_key_1",
          "name": "FAIM API Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extract results for each batch item (series)\nconst forecasts = $json.forecast.point;  // Shape: (batchSize=3, horizon=3)\nconst results = [];\n\nfor (let i = 0; i < forecasts.length; i++) {\n  const series = forecasts[i];  // forecast for series i\n  results.push({\n    \"seriesId\": i + 1,\n    \"forecast\": series,  // Array of 3 forecast values\n    \"nextValue\": series[0],  // First forecast timestep\n    \"trend\": series[series.length - 1] > series[0] ? \"increasing\" : \"decreasing\"\n  });\n}\n\nreturn results;"
      },
      "id": "4",
      "name": "Process Batch Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [600, 100]
    },
    {
      "parameters": {
        "content": "### Batch Forecast Results\n\n**Batch Size**: {{ $json.length }} time series\n**Model**: TiRex\n**Horizon**: 3 steps\n**Total Cost**: {{ $json[0].metadata.costAmount }} {{ $json[0].metadata.costCurrency }} (single batch call)\n\n**Results**:\n{{ JSON.stringify($json, null, 2) }}\n\n**Key Benefit**: All 3 forecasts processed in ONE API call (more efficient than 3 separate calls)"
      },
      "id": "5",
      "name": "Display Batch Results",
      "type": "n8n-nodes-base.html",
      "typeVersion": 1,
      "position": [800, 100]
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "3 Time Series (Batch)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3 Time Series (Batch)": {
      "main": [
        [
          {
            "node": "FAIM Batch Forecast",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FAIM Batch Forecast": {
      "main": [
        [
          {
            "node": "Process Batch Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Batch Results": {
      "main": [
        [
          {
            "node": "Display Batch Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "staticData": null,
  "createdAt": "2024-11-06T00:00:00.000Z",
  "id": "batch-processing",
  "versionId": "1"
}