examples/chronos2-quantiles-confidence.json
{
  "name": "Chronos2 Quantiles for Confidence Intervals",
  "nodes": [
    {
      "parameters": {},
      "id": "1",
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [50, 100]
    },
    {
      "parameters": {
        "jsonData": "{\n  \"dailyRevenue\": [5200, 5450, 5320, 5680, 5900, 6100, 5950, 6200, 6450, 6300, 6550, 6800, 7000, 6850]\n}"
      },
      "id": "2",
      "name": "Revenue Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [200, 100]
    },
    {
      "parameters": {
        "model": "chronos2",
        "modelVersion": "1",
        "inputData": "={{ $json.dailyRevenue }}",
        "horizon": 7,
        "outputType": "quantiles",
        "chronos2Options": {
          "quantiles": "[0.05, 0.25, 0.5, 0.75, 0.95]"
        },
        "authentication": "faimApi"
      },
      "id": "3",
      "name": "FAIM Forecast (Quantiles)",
      "type": "@faim-group/n8n-nodes-faim.faimForecast",
      "typeVersion": 1,
      "position": [400, 100],
      "credentials": {
        "faimApi": {
          "id": "faim_key_1",
          "name": "FAIM API Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extract quantiles for visualization\nconst quantiles = $json.forecast.quantiles[0]; // First batch\nconst q5 = quantiles.map(q => q[0]);   // 5th percentile (lower bound)\nconst q25 = quantiles.map(q => q[1]);  // 25th percentile\nconst q50 = quantiles.map(q => q[2]);  // 50th percentile (median)\nconst q75 = quantiles.map(q => q[3]);  // 75th percentile\nconst q95 = quantiles.map(q => q[4]);  // 95th percentile (upper bound)\n\nreturn [{\n  \"median\": q50,\n  \"lowerBound\": q5,\n  \"upperBound\": q95,\n  \"q25\": q25,\n  \"q75\": q75,\n  \"metadata\": $json.metadata\n}];"
      },
      "id": "4",
      "name": "Extract Confidence Intervals",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [600, 100]
    },
    {
      "parameters": {
        "content": "### Revenue Forecast with Confidence Intervals\n\n**Forecast Horizon**: 7 days\n**Quantiles**: 5th, 25th, 50th (median), 75th, 95th percentiles\n\n**Point Estimates** (50th percentile / median):\n{{ JSON.stringify($json.median, null, 2) }}\n\n**Confidence Interval** (5th to 95th percentile):\n- Lower bound (5%): {{ JSON.stringify($json.lowerBound, null, 2) }}\n- Upper bound (95%): {{ JSON.stringify($json.upperBound, null, 2) }}\n\n**Cost**: {{ $json.metadata.costAmount }} {{ $json.metadata.costCurrency }}"
      },
      "id": "5",
      "name": "Display Confidence Intervals",
      "type": "n8n-nodes-base.html",
      "typeVersion": 1,
      "position": [800, 100]
    },
    {
      "parameters": {
        "jsCode": "// Mock quantiles for demonstration\nconst mockQuantiles = [\n  [6250, 6480, 6720, 6950, 7180],\n  [6350, 6590, 6840, 7090, 7340],\n  [6450, 6700, 6960, 7220, 7480],\n  [6550, 6810, 7080, 7350, 7620],\n  [6650, 6920, 7200, 7480, 7760],\n  [6750, 7030, 7320, 7610, 7900],\n  [6850, 7140, 7440, 7740, 8040]\n];\n\nconst q5 = mockQuantiles.map(q => q[0]);\nconst q25 = mockQuantiles.map(q => q[1]);\nconst q50 = mockQuantiles.map(q => q[2]);\nconst q75 = mockQuantiles.map(q => q[3]);\nconst q95 = mockQuantiles.map(q => q[4]);\n\nreturn [{\n  \"median\": q50,\n  \"lowerBound\": q5,\n  \"upperBound\": q95,\n  \"q25\": q25,\n  \"q75\": q75,\n  \"metadata\": {\n    \"modelName\": \"Chronos2\",\n    \"modelVersion\": \"1\",\n    \"costAmount\": \"0.002\",\n    \"costCurrency\": \"USD\"\n  }\n}];"
      },
      "id": "6",
      "name": "Mock Quantiles (Demo)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [600, 200]
    },
    {
      "parameters": {
        "content": "### How to Use This Workflow\n\n**Real API**: Uses Chronos2 model to forecast 7 days of revenue with confidence intervals\n**Mock Data**: Shows sample output structure when testing without API credentials\n\n### Sample Results\n- **Input**: 14 days of historical daily revenue\n- **Forecast**: Next 7 days with 5 quantile levels\n- **Confidence Interval**: Shows uncertainty bounds (5%-95% range)\n\nThe quantiles help answer:\n- **Median (q50)**: Most likely revenue value\n- **Lower/Upper bounds**: Worst/best case scenarios (90% confidence)\n- **Mid-range (q25-q75)**: Interquartile range"
      },
      "id": "7",
      "name": "Documentation",
      "type": "n8n-nodes-base.html",
      "typeVersion": 1,
      "position": [1000, 100]
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Revenue Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Revenue Data": {
      "main": [
        [
          {
            "node": "FAIM Forecast (Quantiles)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Mock Quantiles (Demo)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FAIM Forecast (Quantiles)": {
      "main": [
        [
          {
            "node": "Extract Confidence Intervals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mock Quantiles (Demo)": {
      "main": [
        [
          {
            "node": "Display Confidence Intervals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Confidence Intervals": {
      "main": [
        [
          {
            "node": "Display Confidence Intervals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Display Confidence Intervals": {
      "main": [
        [
          {
            "node": "Documentation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "staticData": null,
  "createdAt": "2024-11-06T00:00:00.000Z",
  "id": "chronos2-quantiles",
  "versionId": "1"
}