examples/chronos2-simple-forecast.json
{
  "name": "Chronos2 Simple Forecast",
  "nodes": [
    {
      "parameters": {},
      "id": "1",
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [50, 100]
    },
    {
      "parameters": {
        "jsonData": "{\n  \"timeSeries\": [10, 12, 11, 13, 15, 14, 16, 18, 17, 19, 21, 20, 22, 24, 23, 25, 27, 26, 28, 30]\n}"
      },
      "id": "2",
      "name": "Sample Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [200, 100]
    },
    {
      "parameters": {
        "model": "chronos2",
        "modelVersion": "1",
        "inputData": "={{ $json.timeSeries }}",
        "horizon": 10,
        "outputType": "point",
        "authentication": "faimApi"
      },
      "id": "3",
      "name": "FAIM Forecast",
      "type": "n8n-nodes-faim.faimForecast",
      "typeVersion": 1,
      "position": [400, 100],
      "credentials": {
        "faimApi": {
          "id": "faim_key_1",
          "name": "FAIM API Key"
        }
      }
    },
    {
      "parameters": {
        "content": "### Forecast Results\n\n**Model**: {{ $json.metadata.modelName }} v{{ $json.metadata.modelVersion }}\n**Input Shape**: batch={{ $json.metadata.inputShape.batch }}, sequence={{ $json.metadata.inputShape.sequence }}\n**Horizon**: {{ $json.metadata.outputShape.horizon }}\n**Cost**: {{ $json.metadata.costAmount }} {{ $json.metadata.costCurrency }}\n**Duration**: {{ $json.executionStats.durationMs }}ms\n\n**Forecast Values**:\n{{ JSON.stringify($json.forecast.point[0], null, 2) }}"
      },
      "id": "4",
      "name": "Display Results",
      "type": "n8n-nodes-base.html",
      "typeVersion": 1,
      "position": [600, 100]
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Sample Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sample Data": {
      "main": [
        [
          {
            "node": "FAIM Forecast",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FAIM Forecast": {
      "main": [
        [
          {
            "node": "Display Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "staticData": null,
  "createdAt": "2024-11-06T00:00:00.000Z",
  "id": "chronos2-simple",
  "versionId": "1"
}